<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 9</title>
    <link rel="stylesheet" href="/image">
</head>
<body>
    <div class="image">
        <ul>
            <li><a href="../home"><button>Return to Home page</button></a></li>
            <br>
            <li><img src="/images/3.jpg" width="600" height="700"/></li>
        </ul>
    </div>
</body>
</html>
 